
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bart</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form action="/calculate" method="POST">
      <img src="static/css/logo.png" alt="BART Logo" width="100" height="60">
      <h1 class="h3 mb-3 fw-normal" style="margin-left: 10px; font-size: 24px;">Bay Area Rapid Transit</h1>
  

    <div class="form-floating">
      <select name="source" class="form-select" id="floatingSelect" aria-label="Select source">
        <option selected>Select source</option>
        <option value="12TH">12th St/Oakland St/Oakland</option>
        <option value="16TH">16th St Mission</option>
        <option value="19TH">19th St Oakland</option>
        <option value="24TH">24th St Mission</option>
        <option value="ANTC">Antioch</option>
        <option value="ASHB">Ashby</option>
        <option value="BALB">Balboa park station</option>
        <option value="BERY">Berryessa</option>
        <option value="BAYF">Bayfair</option>
        <option value="CAST">Castro valley</option>
        <option value="CIVC">Civic center</option>
        <option value="COLS">Coliseum</option>
        <option value="COLM">Colma</option>
        <option value="CONC">Concord Station</option>
        <option value="DALY">Daly city</option>
        <option value="DBRK">Downtown Berkeley</option>
        <option value="DUBL">Dublin</option>
        <option value="DELN">El Cerrito Del Norte</option>
        <option value="PLZA">El Cerrito Plaza</option>
        <option value="EMBR">Embarcadero</option>
        <option value="FRMT">Fremont</option>
        <option value="FTVL">Fruitvale</option>
        <option value="GLEN">Glen park</option>
        <option value="HAYW">Hayward bart station</option>
        <option value="LAFY">Lafayette</option>
        <option value="LAKE">Lake Merritt</option>
        <option value="MCAR">MacArthur Station</option>
        <option value="MLBR">MillBrae</option>
        <option value="MLPT">Milpitas</option>
        <option value="MONT">Montgomery Station</option>
        <option value="NBRK">North Berkeley</option>
        <option value="NCON">North Concord</option>
        <option value="OAKL">Oakland International Airport</option>
        <option value="ORIN">Orinda</option>
        <option value="PITT">Pittsburg</option>
        <option value="PCTR">Pittsburg Center Station</option>
        <option value="PHIL">Pleasant Hill</option>
        <option value="POWL">Powell street</option>
        <option value="RICH">Richmond</option>
        <option value="ROCK">Rockridge</option>
        <option value="SBRN">San Bruno</option>
        <option value="SFIA">San Francisco International Airport</option>
        <option value="SANL">San Leandro</option>
        <option value="SHAY">South Hayward</option>
        <option value="SSAN">South San Francisco</option>
        <option value="UCTY">Union city</option>
        <option value="WCRK">Walnut Creek</option>
        <option value="WARM">Warm springs</option>
        <option value="WDUB">West Dublin</option>
        <option value="WOAK">West Oakland</option>
      </select>
      
      <label for="floatingSelect">Source</label>
    </div>
    <div class="form-floating">
      <select name="destination" class="form-select" id="floatingSelect" aria-label="Select destination">
        <option selected>Select destination</option>
        <option value="12TH">12th St/Oakland St/Oakland</option>
        <option value="16TH">16th St Mission</option>
        <option value="19TH">19th St Oakland</option>
        <option value="24TH">24th St Mission</option>
        <option value="ANTC">Antioch</option>
        <option value="ASHB">Ashby</option>
        <option value="BALB">Balboa park station</option>
        <option value="BERY">Berryessa</option>
        <option value="BAYF">Bayfair</option>
        <option value="CAST">Castro valley</option>
        <option value="CIVC">Civic center</option>
        <option value="COLS">Coliseum</option>
        <option value="COLM">Colma</option>
        <option value="CONC">Concord Station</option>
        <option value="DALY">Daly city</option>
        <option value="DBRK">Downtown Berkeley</option>
        <option value="DUBL">Dublin</option>
        <option value="DELN">El Cerrito Del Norte</option>
        <option value="PLZA">El Cerrito Plaza</option>
        <option value="EMBR">Embarcadero</option>
        <option value="FRMT">Fremont</option>
        <option value="FTVL">Fruitvale</option>
        <option value="GLEN">Glen park</option>
        <option value="HAYW">Hayward bart station</option>
        <option value="LAFY">Lafayette</option>
        <option value="LAKE">Lake Merritt</option>
        <option value="MCAR">MacArthur Station</option>
        <option value="MLBR">MillBrae</option>
        <option value="MLPT">Milpitas</option>
        <option value="MONT">Montgomery Station</option>
        <option value="NBRK">North Berkeley</option>
        <option value="NCON">North Concord</option>
        <option value="OAKL">Oakland International Airport</option>
        <option value="ORIN">Orinda</option>
        <option value="PITT">Pittsburg</option>
        <option value="PCTR">Pittsburg Center Station</option>
        <option value="PHIL">Pleasant Hill</option>
        <option value="POWL">Powell street</option>
        <option value="RICH">Richmond</option>
        <option value="ROCK">Rockridge</option>
        <option value="SBRN">SBRN</option>
        <option value="SFIA">San Francisco International Airport</option>
        <option value="SANL">San Leandro</option>
        <option value="SHAY">South Hayward</option>
        <option value="SSAN">South San Francisco</option>
        <option value="UCTY">Union city</option>
        <option value="WCRK">Walnut Creek</option>
        <option value="WARM">Warm springs</option>
        <option value="WDUB">West Dublin</option>
        <option value="WOAK">WOAK</option>
      </select>
      <label for="floatingSelect">Destination</label>
    </div>


    <style>
      /* add space between the two divs */
      .form-floating + .form-floating {
        margin-top: 30px;
      }

      .form-floating {
    margin-bottom: 20px;
  }
      .form-floating:last-child {
    margin-bottom: 20px;
  }

  button {
        margin-bottom: 20px; 
    }

  .btn-custom {
  background-color: #009ddc;
  color: white; /* sets the text color to white */
}

    </style>
    <button class="w-100 btn btn-lg btn-custom" type="submit">Calculate</button>  
    

  </form>
  <form action="/bart-extension" method="POST">
    <button class="w-150 btn btn-md btn-custom" type="submit">Bart Extension to SJSU</button>
  </form>
  
  

</main>


    
  </body>
</html>
